---
title: Single page, responsive template
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---

<section id="section-a" class="light-gray padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3>{{site.section-a-title}}</h3>
                <p class="text-mid">{{site.section-a-copy}}</p>
            </div>
        </div>
    </div>
</section>

<section id="section-b" class="white padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h4 class="caps">You're Going to make something awesome, I just know it.</h4>
                <p></p>
            </div>
        </div>
    </div>
</section>