<!-- Modals -->
<div class="modal slide fade" id="project-01" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header dark header-img-bg" style="background-image: url('assets/img/project-01.jpg')">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title text-center title caps" id="project-1Label">Always Inspire</h3>
                <h4 class="sub-title">A Project Page Modal</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row padding-md">
                        <div class="col-md-6">
                            <h4 class="text-right text-left-sm caps">The Question</h4>
                            <p class="text-right text-left-sm">
                                Lorem ipsum Sit dolore Excepteur eu sint elit mollit magna quis sint aute dolore magna labore deserunt dolore
                            </p>
                            <h4 class="text-right text-left-sm caps">The Answer</h4>
                            <p class="text-right text-left-sm">
                                Lorem ipsum Sit dolore Excepteur eu sint elit mollit magna quis sint aute dolore magna labore deserunt dolore laborum nisi magna dolor non labore dolor aute veniam Duis in voluptate reprehenderit et aliqua incididunt.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img src="assets/img/project-02.jpg" alt="">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 padding-lg">
                            <h2 class="text-center caps">
                                Life is not about finding yourself. Life is about creating yourself.
                            </h2>
                        </div>
                    </div>
                    <hr>
                    <div class="row padding-md">
                        <div class="col-md-6">
                            <img src="assets/img/project-03.jpg" alt="">
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-left caps">The Question</h4>
                            <p class="text-left">
                                Lorem ipsum Sit dolore Excepteur eu sint elit mollit magna quis sint aute dolore magna labore deserunt dolore
                            </p>
                            <h4 class="text-left caps">The Answer</h4>
                            <p class="text-left">
                                Lorem ipsum Sit dolore Excepteur eu sint elit mollit magna quis sint aute dolore magna labore deserunt dolore laborum nisi magna dolor non labore dolor aute veniam Duis in voluptate reprehenderit et aliqua incididunt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

<div class="modal slide fade" id="project-02" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header light header-img-bg" style="background-image: url('assets/img/project-02.jpg')">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title text-center title caps" id="project-2Label">Always Inspire</h3>
                <h4 class="sub-title">A Project Page Modal</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row padding-md">
                        <div class="col-md-6">
                            <h4 class="text-right text-left-sm caps">The Question</h4>
                            <p class="text-right text-left-sm">
                                Lorem ipsum Sit dolore Excepteur eu sint elit mollit magna quis sint aute dolore magna labore deserunt dolore
                            </p>
                            <h4 class="text-right text-left-sm caps">The Answer</h4>
                            <p class="text-right text-left-sm">
                                Lorem ipsum Sit dolore Excepteur eu sint elit mollit magna quis sint aute dolore magna labore deserunt dolore laborum nisi magna dolor non labore dolor aute veniam Duis in voluptate reprehenderit et aliqua incididunt.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img src="assets/img/project-01.jpg" alt="">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 padding-lg">
                            <h2 class="text-center caps">
                                Life is not about finding yourself. Life is about creating yourself.
                            </h2>
                        </div>
                    </div>
                    <hr>
                    <div class="row padding-md">
                        <div class="col-md-6">
                            <img src="assets/img/project-03.jpg" alt="">
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-left caps">The Question</h4>
                            <p class="text-left">
                                Lorem ipsum Sit dolore Excepteur eu sint elit mollit magna quis sint aute dolore magna labore deserunt dolore
                            </p>
                            <h4 class="text-left caps">The Answer</h4>
                            <p class="text-left">
                                Lorem ipsum Sit dolore Excepteur eu sint elit mollit magna quis sint aute dolore magna labore deserunt dolore laborum nisi magna dolor non labore dolor aute veniam Duis in voluptate reprehenderit et aliqua incididunt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

<div class="modal slide fade" id="project-03" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header light header-img-bg" style="background-image: url('assets/img/project-03.jpg')">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title text-center title caps" id="project-3Label">Always Inspire</h3>
                <h4 class="sub-title">A Project Page Modal</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row padding-md">
                        <div class="col-md-6">
                            <h4 class="text-right text-left-sm caps">The Question</h4>
                            <p class="text-right text-left-sm">
                                Lorem ipsum Sit dolore Excepteur eu sint elit mollit magna quis sint aute dolore magna labore deserunt dolore
                            </p>
                            <h4 class="text-right text-left-sm caps">The Answer</h4>
                            <p class="text-right text-left-sm">
                                Lorem ipsum Sit dolore Excepteur eu sint elit mollit magna quis sint aute dolore magna labore deserunt dolore laborum nisi magna dolor non labore dolor aute veniam Duis in voluptate reprehenderit et aliqua incididunt.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img src="assets/img/project-02.jpg" alt="">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 padding-lg">
                            <h2 class="text-center caps">
                                Life is not about finding yourself. Life is about creating yourself.
                            </h2>
                        </div>
                    </div>
                    <hr>
                    <div class="row padding-md">
                        <div class="col-md-6">
                            <img src="assets/img/project-01.jpg" alt="">
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-left caps">The Question</h4>
                            <p class="text-left">
                                Lorem ipsum Sit dolore Excepteur eu sint elit mollit magna quis sint aute dolore magna labore deserunt dolore
                            </p>
                            <h4 class="text-left caps">The Answer</h4>
                            <p class="text-left">
                                Lorem ipsum Sit dolore Excepteur eu sint elit mollit magna quis sint aute dolore magna labore deserunt dolore laborum nisi magna dolor non labore dolor aute veniam Duis in voluptate reprehenderit et aliqua incididunt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>
