---
component: navbar
---
<!-- Fixed navbar -->
<nav class="flip-nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <nav class="pull">
                    <ul class="top-nav">
                        <li><a href="#intro">Introduction <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                        <li><a href="#features">Features <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                        <li><a href="#responsive">Responsive Design <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                        <li><a href="#portfolio">Portfolio <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                        <li><a href="#team">Team <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                        <li><a href="#contact">Get in Touch <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</nav>
<a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
