<section id="section-f" class="light-gray padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-tile">
                    <div class="table">
                        <div class="cell-middle">
                            <h4>Email</h4>
                            <a href="#!">
                                hi@seashore.us
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-tile">
                    <div class="table">
                        <div class="cell-middle">
                            <h4>Location</h4>
                            <span>123 Fake St.| Springfield, USA | 90210</span>
                            <a href="#!" class="btn btn-hollow map-it">Map It</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-tile">
                    <div class="table">
                        <div class="cell-middle">
                            <h4>Telephone</h4>
                            <span class="telephone">
                                <a href="tel:000-000-0000">(801) 345-6789</a>
                            </span>
                            <h6 class="caps"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>