<div class="container-fluid white padding-lg">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center"><a href="" class="btn btn-hollow btn-large">Go out there and build something</a></h3>
        </div>
    </div>
</div>
<section id="section-d" class="dark-gray padding-lg">
    <div class="container">
        <div class="row">
            {{#site.process}}
            <div class="col-md-4 text-center waypoint-4">
                <h3><span class="large icon-{{item.icon}}"></span></h3>
                <h4 class="text-light caps">{{item.title}}</h4>
                <p class="text-mid-2">
                    {{item.description}}
                </p>
            </div>
            {{/site.process}}
        </div>
    </div>
</section>
