<section id="section-a" class="light-gray padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center waypoint-2">
                <div class="anchor"><span class="icon-anchor"></span></div>
                <h3>{{site.section-a-title}}</h3>
                <p class="text-mid">{{site.section-a-copy}}</p>
            </div>
        </div>
    </div>
</section>