<section id="section-c" class="light-gray container-fluid">
    <div class="row">
        <div id="section-c-mod-1" class="col-md-6 dark-gray fill-height">
            <div class="display-table">
                <div class="c-title vert-center waypoint-c-1">
                    <div class="large kern-loose title">Go Make Things</div>
                    <div class="anchor text-white"><span class="icon-anchor"></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 fill-height">
            <div id="slider-c" class="flexslider vert-center-slider">
                <ul class="slides">
                    <li>
                        <div class="vert-center">
                            <p class="quote text-mid text-center">
                                I would rather be ashes than dust!
                                <br/>
                                I would rather that my spark should burn out in a brilliant blaze than it should be stifled by dry-rot.<br/>
                                I would rather be a superb meteor, every atom of me in magnificent glow, than a sleepy and permanent planet.<br/>
                                The function of man is to live, not to exist.<br/>
                                I shall not waste my days trying to prolong them.<br/>
                                I shall use my time.<br/>
                                <span class="author">Jack London</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="vert-center">
                            <p class="quote text-mid">
                                When it is working, you completely go into another place, you're tapping into things that are totally universal, completely beyond your ego and your own self. That's what it's all about.
                                <span class="author">Keith Haring</span>
                            </p>
                            <p class="author"></p>
                        </div>
                    </li>
                    <li>
                        <div class="vert-center">
                            <p class="quote text-mid">
                                Creative work is not a selfish act or a bid for attention on the part of the actor. It's a gift to the world and every being in it. Don't cheat us of your contribution. Give us what you've got.
                                <span class="author">Steven Pressfield</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</section>