<section id="section-f" class="light-gray padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-tile">
                    <div class="table">
                        <div class="cell-middle">
                            <h3>Email</h3>
                            <a href="#!">
                                hi@seashore.us
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-tile">
                    <div class="table">
                        <div class="cell-middle">
                            <h3>Location</h3>
                            <span>123 Fake St.| Springfield, USA | 90210</span>
                            <a href="#!" class="btn btn-hollow map-it">Map It</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-tile">
                    <div class="table">
                        <div class="cell-middle">
                            <h3>Telephone</h3>
                            <span class="telephone">
                                (801) 345-6789
                            </span>
                            <h6 class="caps"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>