<div id="top-hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 hero-title">
                <h1 class="xlarge kern-loose" id="title">
                    {{site.title}}
                </h1>
                <h2 id="sub-title">
                    {{site.sub-title}}
                </h2>
            </div>
        </div>
    </div>
</div>