[class^="waypoint-"],
[class*="waypoint-"] {
    visibility: hidden;
}
*.animated {
    visibility: visible;
}

.delay-short {
    animation-delay: 0.5s; 
    -webkit-animation-delay: 0.5s;
}

.delay-long {
    animation-delay: 1s; 
    -webkit-animation-delay: 1s;
}

.slide {
    transform: translateY(100%);
    transition: 0.5s all;
    &.in {
        transform: translateY(0);
        transition: 0.5s all;
    }
    &.fade {
        opacity: 1;
    }
}

// .blurry {
//     filter: blur(4px);
//     transition: 0.5s all;
// }