body,
html {
    font-family: $sans;
    font-weight: $reg;
}


.white,
*.white {
    background-color: $white;
}

.light-gray,
*.light-gray {
    background-color: $light-gray-1;
    color: $dark-gray-1;
}

.dark-gray,
*.dark-gray {
    background-color: $dark-gray-1;
    color: $white;
}

.text-dark,
*.text-dark {
    color: $dark-gray-1;
}

.text-mid,
*.text-mid {
    color: $mid-gray-1;
}

.text-mid-2,
*.text-mid-2 {
    color: $mid-gray-2;
}

.text-light,
*.text-light {
    color: $light-gray-1;
}


.padding-sm {
    padding-top: $padding-sm;
    padding-bottom: $padding-sm;
}

.padding-md {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
}

.padding-lg {
    padding-top: $padding-lg;
    padding-bottom: $padding-lg;
}

* img {
    max-width: 100%;
}

.modal-body {
    * {
        max-width: 100%;
    }
}

.photo-wrapper {
    background-color: $dark-gray-1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    overflow: hidden;
    &:after {
        content: attr(data-name);
        position: absolute;
        top: 0;
        left: 10px;
        color: $white;
        opacity: 0;
        transition: all 0.2s;
    }
    img {
        opacity: 1;
        transition: all 0.2s 0.2s;
    }
    &:hover {
        img {
            opacity: 0.5;
            transition: all 0.3s;
        }
        &:after {
            top: 10px;
            opacity: 1;
            transition: all 0.3s 0.3s;
        }
    }
}

.anchor {
    text-align: center;
    color: $mid-gray-1;
    position: relative;
    &:before,
    &:after {
        content: '';
        display: inline-block;
        background-color: lighten($mid-gray-1, 40%);
        height: 1px;
        width: 8em;
        position: relative;
        top: -6px;
    }
    &:before {
        right: 12px;
    }
    &:after {
        left: 12px;
    }
}