#top-hero {
    background-image: url('../img/hero-bg-blurry.jpg');
    background-image: url('../img/hero-bg.jpg');
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
    color: $white;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.5s background-image;

    .hero-title {
        margin-top: 17.5%;
    }

}