nav {
  margin-top: -1px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      color: rgba(255, 255, 255, 0.6);
      text-align: center;
      //border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
      transition: all 0.25s;
      padding-left: 0;
      position: relative;
      &:nth-child(1){
        background-color: $gray-30;
      }
      &:nth-child(2){
        background-color: $gray-40;
      }
      &:nth-child(3){
        background-color: $gray-50;
      }
      &:nth-child(4){
        background-color: $gray-60;
      }
      &:nth-child(5){
        background-color: $gray-70;
      }
      &:nth-child(6){
        background-color: $gray-80;
      }
      &:nth-child(7){
        background-color: $gray-90;
      }
      &:last-child {
        border: none;
      }
      &:hover {
        background-color: lighten($black, 5%);
        transition: all 0.1s;
      }
      a {
        color: rgba(255, 255, 255, 0.6);
        display: block;
        //padding: 20px;
        //transition: all 0.5s ease;
        padding-left: 0;
        position: relative;
        &:hover, &:focus {
          text-decoration: none;
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
}

$flipTransOn: all 0.4s ease 0s;
$flipTransOff: all 0.4s ease 0s;

.flip-nav {
    background-color: $black;
    max-height: 0;
    overflow: hidden;
    transition: $flipTransOff;
    margin: 0 -15px;
    .top-nav {
        opacity: 0.1;
        transition: $flipTransOff;
        transition-delay: 0.1s;
        li a {
            padding: 10px 20px;
            transition: $flipTransOff;
        }
    }
    
    &.open {
        background-color: $dark-gray-1;
        max-height: 900px;
        transition: $flipTransOn;
        .top-nav {
            opacity: 1;
            transition: $flipTransOn;
            li a {
                padding: 20px;
                transition: $flipTransOn;
            }
        }
    }
}

#nav-toggle {
  position: relative;
  float: right;
  right: 30px;
  top: 60px;
  margin-top: -30px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  z-index: 10;
  span {
    &:before,
    &:after {
        cursor: pointer;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        height: 5px;
        width: 20px;
        position: absolute;
        display: block;
        content: '';
        background: $white;
    }
    &:before{
        transform: rotate(40deg);
    }
    &:after {
        transform: rotate(-40deg);
        left: 12px;
    }


    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    &:before, &:after {
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
    }
  }
  &.active span {

    &:before {
        transform: rotate(-40deg);
    }
    &:after {
        transform: rotate(40deg);
    }
  }
}

.navicon {
  position: relative;
  height: 26px;
}

.indicator {
  position: absolute;
  right: 0 !important;
}

.pull {
  //display: none;
}