html, body {
    font-size: $font-base;
}

h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5, 
h6, .h6 {
    margin-top: 15px;
    margin-bottom: 15px;
}

h1, .h1 {
    font-size: $h1;
}
h2, .h2 {
    font-size: $h2;
}
h3, .h3 {
    font-size: $h3;
}
h4, .h4 {
    font-size: $h4;
}
h5, .h5 {
    font-size: $h5;
}
h6, .h6 {
    font-size: $h6;
    font-weight: $bold;
}

@media (max-width: $screen-md-min) {
    html, body {
        font-size: $font-base * 0.9;
    }

    h1, .h1 {
        font-size: $h1 * 0.8;
    }
    h2, .h2 {
        font-size: $h2 * 0.8;
    }
    h3, .h3 {
        font-size: $h3 * 0.8;
    }
    h4, .h4 {
        font-size: $h4 * 0.8;
    }
    h5, .h5 {
        font-size: $h5 * 0.8;
    }
    h6, .h6 {
        font-size: $h6 * 0.8;
        font-weight: $bold;
    }
}

@media (max-width: $screen-sm-min) {
    html, body {
        font-size: $font-base * 0.8;
    }

    h1, .h1 {
        font-size: $h1 * 0.666;
    }
    h2, .h2 {
        font-size: $h2 * 0.666;
    }
    h3, .h3 {
        font-size: $h3 * 0.666;
    }
    h4, .h4 {
        font-size: $h4 * 0.666;
    }
    h5, .h5 {
        font-size: $h5 * 0.666;
    }
    h6, .h6 {
        font-size: $h6 * 0.666;
        font-weight: $bold;
    }
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: $serif;
    font-weight: $reg;
    line-height: 2em;
    font-size: 1.2em;

    &.project-description {
        text-align: left;
    }
}

.xlarge,
*.xlarge {
    font-size: 6em;
    @media screen and (max-width: $screen-md-min) {
        font-size: 4em;
    }
    @media screen and (max-width: $screen-sm-min) {
        font-size: 3em;
    }
}

.large,
*.large {
    font-size: 4em;
    @media screen and (max-width: $screen-md-min) {
        font-size: 3em;
    }
    @media screen and (max-width: $screen-sm-min) {
        font-size: 1.8em;
    }
}

.medium,
*.medium {
    font-size: 2em;
    @media screen and (max-width: $screen-md-min) {
        font-size: 1.5em;
    }
    @media screen and (max-width: $screen-sm-min) {
        font-size: 1em;
    }
}

.kern-loose {
    letter-spacing: 0.25em;
    margin-right: -0.25em;
}

.caps,
*.caps {
    text-transform: uppercase;
}

.title,
.sub-title {
    text-align: center;
}
.title {
    font-family: $sans;
    font-weight: $bold;
    text-transform: uppercase;
    position: relative;
    //line-height: 1.4em;
    &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        border-bottom: 1px solid $white;
    }
    &.animated:after {
        width: 100%;
        left: 0;
        transition: all ease 0.5s 0.75s;
    }
}
.sub-title {
    font-family: $serif;
    font-weight: $reg;
    font-style: italic;
}

blockquote {
    font-size: 1.4em;
    font-family: $serif;
    font-style: italic;
    color: $mid-gray-1;
}

.quote {
    font-style: italic;
    &:first-letter {
        font-size: 2em;
        font-style: normal;
    }
    .author {
        display: block;
        font-family: $sans;
        text-transform: uppercase;
        font-size: 0.8em;
        font-style: normal;
        margin-top: 2em;
        opacity: 0.5;
        &:before {
            content: '-';
            display: inline;
            margin-right: 10px;
        }
    }
}

.text-left-sm,
*.text-left-sm {
    @media (max-width: $screen-sm-min) {
        text-align: left;
    }
}