$white: #f9fbfc;
$black: #0f1214;
$dark-gray-1: #242830;
$mid-gray-1: #526d77;
$mid-gray-2: #8fa5ad;
$light-gray-1: #dee5ea;
$green-1: #ebffbc;

$sans: "Montserrat", sans-serif;
$serif: "Droid Serif", serif;
$icons: 'seashore-icons';

$reg: 400;
$bold: 700;

$screen-md-min: 768px;
$screen-sm-min: 320px;

$padding-sm: 30px;
$padding-md: 60px;
$padding-lg: 90px;

$button-hover: all 0.3s;